<footer id="footer" style="
display:flex;
flex-direction: column;

">


 
  <div class="footer-layout-text">
    <h1 style="color: #fff;font-size: 6rem;">Let's Connect</h1>
    <p style="max-width: 80%;margin: auto;">
      <br>
      Get in touch for any event, collaboration or any opportunity to discuss.</p>
  </div>
  <div class="footer-social footer-layout-social">

    <br>
    {% include mailinglist.html %}
</div>
  <div class="footer-social footer-layout-social footer-layout-socials">
    <br>
    <br>
    <br>
    {% include social.html %}
</div>




</footer>