<footer id="footer" style="
display:flex;
flex-direction: column;

">


 
  <div class="footer-layout-text">
    <h1 style="color: #fff;font-size: 6rem;">Let's Connect</h1>
    <p style="max-width: 80%;margin: auto;">
      <br>
      Get in touch for any event, collaboration or any opportunity to discuss.</p>
  </div>
  <div class="footer-social footer-layout-social">

    <br>
    {% include mailinglist.html %}
</div>
  <div class="footer-social footer-layout-social footer-layout-socials">
    <br>
    <br>
    <br>
    {% include social.html %}
</div>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5fbe8d5f920fc91564caa1a3/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

</footer>